* {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;

}

body {
	font-family: var(--libre-franklin-stack);
	color: var(--red-dark);
	font-size: 18px;
	line-height: 1.6;
	margin: 2rem 0;
	width: 100%;
	max-width: 40rem;
	margin-right: 1rem;
	margin-left: 1rem;

}
::selection {
	color: var(--red-white);
	background-color: var(--red-accent);
}

html {
	background-color: var(--red-white-bg);
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Syne';
	color: var(--red-accent);
}
h1:before {
	content: '';
	background: url('../img/logo-icon.png');
	background-size: 8rem;
	width: 8rem;
	height: 8rem;
	display: block;
	margin-left: -1rem;
	margin-bottom: 1rem;
}

p {
	text-align: justify;
	hyphens: auto;
	margin-bottom: 2rem;
}

.call {
	background: var(--red-regular);
	padding: .5rem 0rem;
}
.call p {
	text-align: center;
	max-width: 26rem;
	margin: 0 auto;
	font-weight: bold;
	color: var(--red-white);
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid var(--red-regular);
}
a.button {
	display: block;
	/*background-color: var(--red-regular);*/
	border: 3px solid var(--red-regular);
	color: var(--red-accent);
	font-weight: bold;
	margin: 0 auto;
	max-width: 28rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
}
a.button:hover {
	background: var(--red-regular);
	color: var(--red-white);
}
a.button:first-of-type {
	margin-top: 3rem;
}

img {
	max-width: 100%;
}
img#logo {
	max-width: 130%;
	margin-left: -26%;
}
@media (max-width: 70rem) {
	img#logo {
		max-width: 100%;
		margin-left: initial;
	}
}
img#ingang {
	display: block;
	margin: 2rem auto;
	max-height: 80vh;
}


hr {
	max-width: 20rem;
	height: 3px;
	border: none;
	background: var(--red-light);
	margin-top: 4rem;
	margin-bottom: 4rem;
}

span.attention {
	font-weight: bold;
	color: var(--red-accent);
}

iframe {
	width: 100%;
	display: block;
	/*max-width: 100%;*/
	height: 90vh;
	/*max-height: 80vh;*/
	margin-top: 2rem;
	background: var(--red-light);
	padding-top: 2rem;
	padding-bottom: 2rem;

}